*{
    margin:0;
    padding: 0;
    font-family: apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#EAFFFD,#C9F0FF,#EFEFF0,#D5CAD6);
}
#Container{
    height:350px;
    width: 500px;
    background: transparent;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
}
#Head{
    text-align: center;
}
p{
    margin-top: 12px;
    margin-left: 3px;
}
#input{
    margin-left: 3px;
    height:30px;
    width:350px;
    border-radius: 5px;
}
#btn{
     height:30px;
    width:100px;
    background-color: green;
    color: aliceblue;
    border-radius: 5px;
}
h4{
    margin-top: 12px;
    text-align: center;
}
#Rst{
     margin-left: 200px;
     margin-top: 20px;
      height:30px;
    width:100px;
    background-color: red;
    color: aliceblue;
    border-radius: 5px;
}


